<div class="bg-white p-8 rounded-md shadow-md">
    <h1 class="text-2xl font-bold mb-4">Política de Cookies</h1>

    <h2 class="text-xl font-semibold mt-6 mb-3">1. ¿Qué son las Cookies?</h2>
    <p class="mb-4">
        Las cookies son pequeños archivos que se descargan en tu dispositivo cuando accedes a ciertas páginas web. Estas permiten a una página web reconocer el dispositivo de un usuario y ayudan a mejorar la experiencia de navegación, entre otras cosas.
    </p>

    <h2 class="text-xl font-semibold mt-6 mb-3">2. Uso de Cookies en Nuestro Sitio Web</h2>
    <p class="mb-4">
        Nuestro sitio web utiliza cookies exclusivamente relacionadas con Firebase Auth, un servicio proporcionado por Google, para autenticar a los usuarios y mejorar la seguridad del inicio de sesión.
    </p>

    <h2 class="text-xl font-semibold mt-6 mb-3">3. Cookies de Firebase Auth</h2>
    <p class="mb-4">
        Estas cookies son esenciales para garantizar que la plataforma funcione correctamente y para permitir a los usuarios autenticarse. No recopilan información personal del usuario fuera del proceso de autenticación y no son utilizadas para ningún otro propósito.
    </p>

    <h2 class="text-xl font-semibold mt-6 mb-3">4. Desactivar o Eliminar Cookies</h2>
    <p class="mb-4">
        Puedes permitir, bloquear o eliminar las cookies instaladas en tu equipo mediante la configuración de las opciones del navegador que utilices. Consulta las instrucciones y manuales de tu navegador para ampliar esta información.
    </p>

    <h2 class="text-xl font-semibold mt-6 mb-3">5. Cambios en la Política de Cookies</h2>
    <p class="mb-4">
        Es posible que actualicemos nuestra Política de Cookies en nuestro sitio web, por lo que te recomendamos revisar esta política cada vez que accedas a nuestro sitio web con el objetivo de estar adecuadamente informado sobre cómo y para qué usamos las cookies.
    </p>

    <h2 class="text-xl font-semibold mt-6 mb-3">6. Más Información</h2>
    <p class="mb-4">
        Si tienes cualquier pregunta sobre nuestra política de cookies, no dudes en contactarnos a través de <a href="mailto:tuemail@ejemplo.com" class="text-blue-600 underline">tus datos de contacto</a>.
    </p>
</div>
