:host {
    @apply block px-6 py-10 md:px-10 dark:bg-cr-dark-bg;
}

.courses {
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-auto-rows: 1fr;
        gap: 2rem;
}

@media screen and (max-width:768px) {
    .courses {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
