<h1 class="text-center">Blog</h1>

<div class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()" [infiniteScrollDisabled]="infScrollDisabled">

  <div class="mb-6">
    <label for="filter">Buscar artículo/s: </label>
    <input type="search" autocomplete="on" id="filter" [(ngModel)]="textQuery" (ngModelChange)="onSearch(textQuery)" placeholder=" ...">
  </div>

<ng-container *ngIf="articles$|async as articlesArr">
      <div class="articles" role="list">
        <ng-container *ngFor="let article of articlesArr; let i = index; trackBy: trackbyId">
          <div aria-label="Resumen de artículo con posibilidad de abrirlo" role="listitem" [attr.aria-labelledby]="'articleTitle' + i" [attr.aria-describedby]="'desc'+i" class="bg-base-100 dark:bg-cr-dark-gray-dark shadow-xl pb-8 flex flex-col">
            <img [src]="encode(article.imageUrl!)" class="w-full h-56 object-cover" (error)="onImageError($event, i)" alt="Imagen del artículo {{ i }}">
            <div role="article" class="p-8 flex flex-col flex-grow">
              <h2 class="text-lg font-bold" id="title{{i}}">{{article.title}}</h2>
              <p class="text-cr-blue3/75">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event inline-block mb-1" viewBox="0 0 16 16">
                  <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg> {{article.createdAt!*1000 | date:'shortDate'}}
              </p>
              <p id="desc{{i}}" class="text-base mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock inline-block mb-1" viewBox="0 0 16 16">
                  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                </svg> {{article.duration}} min.
              </p>
              <p>{{article.shortDescription}}</p>
            </div>
            <div class="text-center">
                <a class="btn secondary-btn" routerLink="{{article.slug}}" aria-label="Abrir el artículo">Leer</a>
                <button *ngIf="isLoggedIn$|async" (click)="openConfirmationModal(article)" class="ms-5 danger-button">ELIMINAR ARTÍCULO</button>
            </div>
          </div>
        </ng-container>
      </div>
</ng-container>
</div>

<div class="mt-5">
  <span *ngIf="finished$|async" class="text-cr-blue text-sm">No hay más artículos para mostrar</span>
  <span *ngIf="isError$|async" class="text-red-500">Error al cargar los cursos</span>
</div>

<app-modal><span>eliminar este artículo</span><button button (click)="deleteItem()">Sí</button></app-modal>
