<h1 class="text-center">Blog</h1>

<div class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()" [infiniteScrollDisabled]="infScrollDisabled">

  <div class="mb-6">
    <label for="filter">Buscar artículo/s: </label>
    <input type="search" autocomplete="on" id="filter" [(ngModel)]="textQuery" (ngModelChange)="onSearch(textQuery)" placeholder=" ...">
  </div>

<ng-container *ngIf="articles$|async as articlesArr">
      <div class="articles" role="list">
        <ng-container *ngFor="let article of articlesArr; let i = index; trackBy: trackbyId">
          <div aria-label="Resumen de artículo con posibilidad de abrirlo" role="listitem" [attr.aria-labelledby]="'articleTitle' + i" [attr.aria-describedby]="'desc'+i" class="bg-base-100 dark:bg-cr-dark-gray-dark shadow-xl pb-8 flex flex-col">
            <img [src]="encode(article.imageUrl!)" class="w-full h-56 object-cover" (error)="onImageError($event, i)" alt="Imagen del artículo {{ i }}">
            <div role="article" class="p-8 flex flex-col flex-grow">
              <h2 class="text-lg font-bold" id="title{{i}}">{{article.title}}</h2>
              <p class="text-base text-cr-blue3/75">{{article.createdAt!*1000 | date:'shortDate'}}</p>
              <p id="desc{{i}}">Tiempo de lectura: {{article.duration}} min.</p>
              <p>{{article.shortDescription}}</p>
            </div>
            <div class="text-center">
                <a class="btn secondary-btn" routerLink="{{article.slug}}" aria-label="Abrir el artículo">Leer</a>
                <button *ngIf="isLoggedIn$|async" (click)="openConfirmationModal(article)" class="ms-5 danger-button">ELIMINAR ARTÍCULO</button>
            </div>
          </div>
        </ng-container>
      </div>
</ng-container>
</div>

<div class="mt-5">
  <span *ngIf="finished$|async" class="text-cr-blue">No hay más cursos para mostrar</span>
  <span *ngIf="isError$|async" class="text-red-500">Error al cargar los cursos</span>
</div>

<app-modal><span>eliminar este artículo</span><button button (click)="deleteItem()">Sí</button></app-modal>
