<footer class="text-center p-10 bg-black text-neutral-content">
  <div>
    <span class="title">Arte y Terapia</span> 
        <a class="link link-hover">Inicio</a>
    <a class="link link-hover">Sobre mí</a>
  </div> 
  <div class="mt-6 md:mt-0">
    <span class="title">Servicios</span> 
    <a class="link link-hover">Acompañamiento emocional</a>
    <a class="link link-hover">Círculos de mujeres</a>
    <a class="link link-hover">Cursos y talleres</a>
    <a class="link link-hover">Términos y condiciones</a>
  </div> 
  <div class="mt-6 md:mt-0">
    <span class="title">Blog</span> 
  </div>
</footer>

