$cr-blue: #3C7CAA;
$cr-blue2: #9BC1DD;
$cr-purple: #8E7EF1;
$cr-blue3: #396888;

$cr-dark-gray: rgb(63,63,63);
$cr-dark-gray-dark: rgb(40, 40, 40);
$cr-dark-bg: rgb(18, 18, 18);
$cr-dark-purple: rgb(166, 136, 250);
$cr-dark-purple-light: rgb(186, 159, 251);