<h1>Creador de contenido</h1>

<p class="mb-4">Bienvenida, Ximena. En esta página puedes añadir artículos, acompañamientos emocionales, círculos de mujeres o cursos/talleres. Selecciona tu opción y escribe el texto 
  en el cuadro del editor.</p>
  
<p>En cuanto a las imágenes, recuerda que:</p>

<ul class="mb-6">
  <li>
    ANTES DE SUBIR UNA IMAGEN, COMPRÍMELA con <a href="https://squoosh.app/"><u>Squoosh</u></a>, formato webP: 1. ocuparás menos espacio de la base de datos, que es gratuita mientras no pases el límite de 5GB 2. tu página será más rápida y por lo tanto mejor colocada en Google.
  </li>
  <li>
    Para evitar problemas, antes de insertar una imagen dale al enter por lo menos una vez, anticipando el espacio que querrás debajo o encima si puede ser, luego colócate en la línea donde quieras la imagen. Si luego de insertar la imagen, estando en su línea le das a enter y escribes algo (o añades otra imagen) puede que tengas problemas.
  </li>
  <li>
    Si empiezas a tener problemas con las imágenes porque no has respetado la instrucción anterior o por otra razón inesperada, normalmente será mejor eliminar este artículo y empezar otro de 0.
  </li>
  <li>
    Puedes modificar el tamaño de la imagen. Pero si rompes su proporción inicial te va a aparecer una "scroll bar" que queda fea. Recupera la proporción inicial para hacer desaparecerla.
  </li>
  <li>
    Las imágenes se quedan fijas centradas horizontalmente. No se pueden mover ni poner texto a los lados.
  </li>
  <li>
    Las imágenes que subes y luego borras, solamente se borran de la base de datos cuando le das al botón "guardar". Si 
    no quieres guardar, clica en guardar y luego simplemente pon "No". Esto hará que se borre la imagen de la base de datos 
    y te quede más espacio gratuito. Otra alternativa es entrat a Firebase > Storage y borrar las imágenes que no estés usando.
  </li>
</ul>

<p class="mb-6">Las "tags" son palabras que puedes poner para definir de qué va el artículo; ayuda a los motores de búsqueda 
  como Google a identificar tu artículo y, por lo tanto, a que aparezca con más facilidad a tus clientes potenciales.
  Combina palabras generales ("psicología", "psicoanálisis") con palabras específicas del tema del artículo.
</p>

<p class="mb-6">La descripción corta (máximo de 200 caracteres) es la que va aparecer en la miniatura de la lista de cursos/artículos así como en 
  la miniatura de algunas redes sociales. Además, facilitará tu aparición en los buscadores.</p>
  
<p class="mb-7">Para mejores resultados de SEO, escribe el título del artículo en la cajita "Título" y no directamente en el editor. En el artículo no uses "heading 1". Y destaca las 
  palabras importantes con negrita.
</p>

<h2 class="mb-4">
  Qué quieres añadir?
</h2>

<div tabindex="1">
  <form [formGroup]="selectForm" class="mb-4">
    <label class="me-3">
      <input type="radio" formControlName="option" value="article"> Artículo
    </label>
    <label class="me-3">
      <input type="radio" formControlName="option" value="course"> Curso
    </label>
    <label class="me-3">
      <input type="radio" formControlName="option" value="women"> Círculo de mujeres
    </label>
    <label>
      <input type="radio" formControlName="option" value="em-support"> Acompañamiento emocional
    </label>
  </form>
</div>

<ng-container><small *ngIf="isError$|async" class="text-red-500 italic mb-6">Error al guardar.</small></ng-container>
<ng-container><small *ngIf="isSuccess$|async" class="text-green-500 italic mb-6">Guardado correctamente.</small></ng-container>

<app-admin-item-form #itemForm [type]="selectedType" (submitEvent)="addItem($event)"></app-admin-item-form>